.container {
  display: flex;
  padding: 0 2rem;
  height: 100vh;
}

.searchDiv {
  justify-content: center;
  margin: auto;
  padding-top: auto;
}

.input {
  margin-left: auto;
  border-radius: 4px;
  background-color: red;
  width: 28vh;
  height: 2.5vh;
}

.searchButton {
  border-width: 0;
  border-radius: 4px;
  background-color: white;
  height: 2.5vh;
}
